<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pathologie</title>
        {% block stylesheet %}
			<link rel="stylesheet" href="style/style.css"/>
		{% endblock %}
    </head>
   
    <body class="body_menu_patho">
        <header>
        {% if session == true %}
		    {% include "navbarco.html.twig" %}
	    {% else %}
		    {% include "navbar.html.twig" %}
	    {% endif %}
        </header>
        <div class="menu_haut_patho">
            <div class="menu_patho">
                <a href="index.php?p=filtre_patho" tabindex="1"><div class="sous_menu_patho"> Filtre Patho</div></a>
                <a href="index.php?p=recherche_patho" tabindex="2"><div class="sous_menu_patho"> Recherche Pathos</div></a>
                <a href="index.php?p=listsymptome" tabindex="3"><div class="sous_menu_patho"> Liste Symptome</div></a>
            
            </div>
        </div>  

       

        
        
    </body>

    
</html>